body{
    background: url(https://wallpapers.com/images/hd/tech-background-1l29np90hcci8axg.jpg) fixed ;
    background-size: cover;
}

#logo{
    max-width: 80%;
    max-height: 20%;
    position: fixed;

}

#logodiv{
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    height: 100vh;
}